<% if user_signed_in? %>
    <span>Hello, <%= current_user.email %>!</span>
    <%= link_to "Your Dreams", dreams_path %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
    <%= link_to('Log in or Signup', new_user_session_path)  %>
<% end %>

<br/>
<strong>Dreaming Trends</strong>
<span style="font-size:256px">BETA</span>
<span style="font-size:10px">a division of <a href="http://earlyclues.com">early clues llc.</a></span>

<% unless @top_trends.empty? %>
    <h1>Top Trends For The Week</h1>
<% end%>

<ul>
<% @top_trends.each do |trend_array| %>
   <li>
    <% trend = trend_array[0]%>
    <%= trend.word %><br/>
    <% trend.dreams.each do |dream| %>
        <%= link_to dream.title, dream_path(dream) %>
    <% end %>
   </li>
   <br/>
<% end %>
</ul>
